workflow-steps/step-4-analyze-client.json
{
    "name": "Step 4: Analyze Client Content with AI",
    "description": "Uses OpenAI GPT-4 Vision to deeply analyze the client's content style, themes, and production patterns",
    "nodes": [
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "id": "merge-all-data",
            "name": "Merge Client & Competitor Data",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1200,
                400
            ],
            "notes": "Combines client and competitor data for analysis"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior Instagram content strategist and brand analyst for Ummahpreneur - an Islamic entrepreneurship and business community. Your role is to deeply understand the brand's identity, voice, and visual language by analyzing their existing content.\\n\\nYou must be CREATIVE yet FOCUSED on what makes THIS specific account unique:\\n- Ummahpreneur targets Muslim entrepreneurs and business-minded individuals\\n- The content likely balances Islamic values with modern business advice\\n- Look for unique angles they take that competitors don't\\n\\nYour analysis must be actionable for content production teams. Extract specific styling instructions that can be replicated.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these posts from @ummahpreneur and provide a comprehensive brand analysis.\\n\\nClient Posts Data:\\n{{ JSON.stringify($json.clientPosts.slice(0, 10)) }}\\n\\nProvide your analysis in this exact JSON format:\\n{\\n  \\\"brandIdentity\\\": {\\n    \\\"coreMessage\\\": \\\"What is the central theme/mission\\\",\\n    \\\"targetAudience\\\": \\\"Who they're speaking to\\\",\\n    \\\"uniqueValueProposition\\\": \\\"What makes them different\\\",\\n    \\\"tonalAttributes\\\": [\\\"list of tone descriptors\\\"]\\n  },\\n  \\\"visualStyle\\\": {\\n    \\\"colorPalette\\\": [\\\"primary colors used\\\"],\\n    \\\"typography\\\": \\\"Font styles observed\\\",\\n    \\\"imageAesthetic\\\": \\\"Overall visual vibe\\\",\\n    \\\"commonElements\\\": [\\\"recurring visual elements\\\"]\\n  },\\n  \\\"contentPatterns\\\": {\\n    \\\"bestPerformingTypes\\\": [\\\"video/carousel/image and why\\\"],\\n    \\\"hookPatterns\\\": [\\\"How they start captions/videos\\\"],\\n    \\\"captionStructure\\\": \\\"How captions are formatted\\\",\\n    \\\"hashtagStrategy\\\": \\\"Hashtag approach observed\\\"\\n  },\\n  \\\"videoProduction\\\": {\\n    \\\"averageDuration\\\": \\\"Typical length\\\",\\n    \\\"transitionStyle\\\": \\\"How clips are connected\\\",\\n    \\\"textOverlays\\\": \\\"Style of on-screen text\\\",\\n    \\\"musicStyle\\\": \\\"Type of audio used\\\",\\n    \\\"hookTechnique\\\": \\\"How first 3 seconds work\\\"\\n  },\\n  \\\"carouselStructure\\\": {\\n    \\\"averageSlides\\\": \\\"Typical number\\\",\\n    \\\"openingSlide\\\": \\\"What makes slide 1 work\\\",\\n    \\\"closingSlide\\\": \\\"CTA approach\\\",\\n    \\\"flowPattern\\\": \\\"How information progresses\\\"\\n  },\\n  \\\"productionBrief\\\": {\\n    \\\"doThis\\\": [\\\"Specific things to replicate\\\"],\\n    \\\"avoidThis\\\": [\\\"Things that don't fit the brand\\\"],\\n    \\\"uniqueElements\\\": [\\\"Signature moves only this account does\\\"]\\n  }\\n}\\n\\nBe specific and actionable. A production team should be able to recreate content based on this analysis.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "analyze-client-openai",
            "name": "OpenAI: Client Brand Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                300
            ],
            "notes": "Deep analysis of client's brand identity and content patterns using GPT-4o",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract and structure the AI analysis\nconst response = $input.first().json;\nconst analysisContent = response.choices?.[0]?.message?.content;\n\nlet clientAnalysis;\ntry {\n  clientAnalysis = JSON.parse(analysisContent);\n} catch (e) {\n  clientAnalysis = { error: 'Failed to parse AI response', raw: analysisContent };\n}\n\nreturn [{\n  json: {\n    clientAnalysis: clientAnalysis,\n    analysisTimestamp: new Date().toISOString(),\n    analysisModel: 'gpt-4o'\n  }\n}];"
            },
            "id": "parse-client-analysis",
            "name": "Parse Client Analysis",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                300
            ],
            "notes": "Structures the AI analysis output"
        }
    ],
    "connections": {
        "Merge Client & Competitor Data": {
            "main": [
                [
                    {
                        "node": "OpenAI: Client Brand Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI: Client Brand Analysis": {
            "main": [
                [
                    {
                        "node": "Parse Client Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}