workflow-steps/step-6-production-briefs.json
{
    "name": "Step 6: Generate Production Briefs",
    "description": "Creates detailed, actionable production briefs for each content type based on the analysis",
    "nodes": [
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "id": "merge-analyses",
            "name": "Merge All Analyses",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1800,
                400
            ],
            "notes": "Combines client and competitor analyses"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the Creative Director for Ummahpreneur (@ummahpreneur), an Islamic entrepreneurship Instagram account. Your job is to create PRODUCTION-READY content briefs that a creative team can execute immediately.\\n\\nYou have access to:\\n1. Deep analysis of the client's brand identity and content style\\n2. Competitive intelligence showing what works in the niche\\n\\nYour briefs must be:\\n- HIGHLY SPECIFIC: No vague directions. Include exact copy, visual descriptions, timing\\n- BRAND-ALIGNED: Everything must sound and feel like Ummahpreneur\\n- CREATIVE: Find fresh angles while staying true to the brand\\n- ACTIONABLE: A video editor, graphic designer, or content creator should be able to execute without asking questions\\n\\nFor VIDEOS: Include scene-by-scene breakdown, text overlays with exact timing, transition types, music mood\\nFor CAROUSELS: Include slide-by-slide content, exact copy for each slide, visual direction\\nFor SINGLE IMAGES: Include subject matter, text overlay content, visual style, caption\\n\\nUnderstand that THIS account serves Muslim entrepreneurs specifically - content should resonate with their unique journey of balancing faith and business.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create 7 production-ready content briefs for @ummahpreneur based on these analyses:\\n\\nCLIENT BRAND ANALYSIS:\\n{{ JSON.stringify($json.clientAnalysis) }}\\n\\nCOMPETITOR INSIGHTS:\\n{{ JSON.stringify($json.competitorAnalysis) }}\\n\\nCreate briefs in this exact JSON format:\\n{\\n  \\\"weeklyContentPlan\\\": [\\n    {\\n      \\\"day\\\": 1,\\n      \\\"contentType\\\": \\\"video|carousel|single_image\\\",\\n      \\\"productionBrief\\\": {\\n        \\\"title\\\": \\\"Internal reference name\\\",\\n        \\\"concept\\\": \\\"Core idea in one sentence\\\",\\n        \\\"angle\\\": \\\"What makes this unique\\\",\\n        \\\"targetEmotion\\\": \\\"What viewer should feel\\\",\\n        \\\"hook\\\": {\\n          \\\"type\\\": \\\"question|statement|visual|statistic\\\",\\n          \\\"content\\\": \\\"Exact first 3 seconds or first line\\\",\\n          \\\"whyItWorks\\\": \\\"Psychology behind it\\\"\\n        }\\n      },\\n      \\\"visualDirection\\\": {\\n        \\\"style\\\": \\\"Overall aesthetic\\\",\\n        \\\"colors\\\": [\\\"specific colors to use\\\"],\\n        \\\"elements\\\": [\\\"specific visual elements\\\"],\\n        \\\"mood\\\": \\\"Visual atmosphere\\\"\\n      },\\n      \\\"copywriting\\\": {\\n        \\\"caption\\\": \\\"Full caption with emojis, line breaks, hashtags\\\",\\n        \\\"textOverlays\\\": [\\n          {\\\"timing\\\": \\\"when/which slide\\\", \\\"text\\\": \\\"exact text\\\", \\\"style\\\": \\\"formatting\\\"}\\n        ],\\n        \\\"cta\\\": \\\"Call to action\\\"\\n      },\\n      \\\"technicalSpecs\\\": {\\n        \\\"aspectRatio\\\": \\\"9:16 or 1:1 or 4:5\\\",\\n        \\\"duration\\\": \\\"for videos\\\",\\n        \\\"slideCount\\\": \\\"for carousels\\\",\\n        \\\"transitions\\\": \\\"for videos\\\",\\n        \\\"musicMood\\\": \\\"for videos\\\"\\n      },\\n      \\\"slideBreakdown\\\": [\\n        {\\\"slideNumber\\\": 1, \\\"purpose\\\": \\\"hook/value/cta\\\", \\\"visualContent\\\": \\\"what to show\\\", \\\"textContent\\\": \\\"what to write\\\"}\\n      ],\\n      \\\"sceneBreakdown\\\": [\\n        {\\\"sceneNumber\\\": 1, \\\"duration\\\": \\\"2s\\\", \\\"visual\\\": \\\"what to show\\\", \\\"textOverlay\\\": \\\"on-screen text\\\", \\\"audio\\\": \\\"music/voiceover note\\\"}\\n      ],\\n      \\\"postingStrategy\\\": {\\n        \\\"bestTimeToPost\\\": \\\"suggested time\\\",\\n        \\\"engagementBooster\\\": \\\"tactic to boost engagement\\\",\\n        \\\"replyStrategy\\\": \\\"how to respond to comments\\\"\\n      }\\n    }\\n  ],\\n  \\\"contentMix\\\": {\\n    \\\"videos\\\": \\\"count\\\",\\n    \\\"carousels\\\": \\\"count\\\",\\n    \\\"singleImages\\\": \\\"count\\\",\\n    \\\"rationale\\\": \\\"why this mix\\\"\\n  },\\n  \\\"recurringThemes\\\": [\\\"themes to reinforce throughout the week\\\"],\\n  \\\"productionNotes\\\": [\\\"general tips for the production team\\\"]\\n}\\n\\nCreate 7 varied, creative briefs that would keep the audience engaged all week. Mix content types strategically.\"\n    }\n  ],\n  \"temperature\": 0.85,\n  \"max_tokens\": 8000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
                "options": {
                    "timeout": 180000
                }
            },
            "id": "generate-briefs-openai",
            "name": "OpenAI: Generate Production Briefs",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2000,
                400
            ],
            "notes": "Creates detailed production briefs for all content types",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract and structure the production briefs\nconst response = $input.first().json;\nconst briefsContent = response.choices?.[0]?.message?.content;\n\nlet productionBriefs;\ntry {\n  productionBriefs = JSON.parse(briefsContent);\n} catch (e) {\n  productionBriefs = { error: 'Failed to parse AI response', raw: briefsContent };\n}\n\n// Separate briefs by type for easier processing\nconst briefsByType = {\n  videos: [],\n  carousels: [],\n  singleImages: []\n};\n\nif (productionBriefs.weeklyContentPlan) {\n  for (const brief of productionBriefs.weeklyContentPlan) {\n    if (brief.contentType === 'video') {\n      briefsByType.videos.push(brief);\n    } else if (brief.contentType === 'carousel') {\n      briefsByType.carousels.push(brief);\n    } else {\n      briefsByType.singleImages.push(brief);\n    }\n  }\n}\n\nreturn [{\n  json: {\n    productionBriefs: productionBriefs,\n    briefsByType: briefsByType,\n    generatedAt: new Date().toISOString(),\n    totalBriefs: productionBriefs.weeklyContentPlan?.length || 0\n  }\n}];"
            },
            "id": "parse-production-briefs",
            "name": "Parse Production Briefs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2200,
                400
            ],
            "notes": "Structures and categorizes production briefs by type"
        }
    ],
    "connections": {
        "Merge All Analyses": {
            "main": [
                [
                    {
                        "node": "OpenAI: Generate Production Briefs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI: Generate Production Briefs": {
            "main": [
                [
                    {
                        "node": "Parse Production Briefs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}