scripts/Instagram Agency AI Workflow.json
{
  "name": "Instagram Agency AI Workflow - Latest (5-Service Rotation)",
  "nodes": [
    {
      "parameters": {
        "content": "# \ud83d\ude80 Instagram Agency AI Workflow - LATEST\n\n## For: @ummahpreneur\n\n**5-Service Rotation Strategy:**\n1. Configure inputs & competitors\n2. **Rotate through 5 Free Tiers:**\n   - Apify, Bright Data, SociaVault, Scrapeless, ScrapingBot\n   - One client per free tier\n   - Data saved immediately\n3. AI Analysis (OpenAI GPT-4o)\n4. Generate Production Briefs\n5. Create Content Calendar\n\n---\n**Status:** Rotation-based scraping for $0/month"
      },
      "id": "note-intro",
      "name": "Workflow Introduction",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        40
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Start Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"client_username\": \"ummahpreneur\",\n  \"client_url\": \"https://www.instagram.com/ummahpreneur/\",\n  \"posts_limit\": 12,\n  \"days_back\": 30\n}"
      },
      "id": "input-config",
      "name": "Input Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        400
      ],
      "notes": "Configure client account and scraping parameters"
    },
    {
      "parameters": {
        "jsCode": "// TOP 5 COMPETITORS ONLY (reduced for cost efficiency)\nconst competitors = [\n  { username: '_amrouz', priority: 'high', note: 'Really good content' },\n  { username: 'islam4everyone_', priority: 'high' },\n  { username: 'thesunnahguy', priority: 'high' },\n  { username: 'taemann__', priority: 'high' },\n  { username: 'bepositive_bedifferent', priority: 'medium' }\n];\n\nconst competitorUrls = competitors.map(c => `https://www.instagram.com/${c.username}/`);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    competitors: competitors,\n    competitorUrls: competitorUrls,\n    cacheFile: '/tmp/instagram_cache.json',\n    useCache: true\n  }\n}];"
      },
      "id": "setup-competitors",
      "name": "Setup Competitors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "content": "## \ud83d\udce5 Phase 1: Data Ingestion - 5-Service Rotation\n\n**Rotates through:**\n- Apify, Bright Data, SociaVault, Scrapeless, ScrapingBot\n\n**Strategy:**\n- One client per free tier\n- Data saved immediately after each call\n- Round-robin rotation across runs"
      },
      "id": "note-ingestion",
      "name": "Phase 1 Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ROTATION MANAGER - Cycles through 5 services\nconst staticData = $getWorkflowStaticData('global');\nconst services = ['apify', 'brightdata', 'sociavault', 'scrapeless', 'scrapingbot'];\n\nlet lastIndex = staticData.lastServiceIndex;\nif (typeof lastIndex === 'undefined') lastIndex = -1;\n\nlet currentIndex = (lastIndex + 1) % services.length;\nconst currentService = services[currentIndex];\n\nstaticData.lastServiceIndex = currentIndex;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    currentService: currentService,\n    serviceIndex: currentIndex\n  }\n}];"
      },
      "id": "rotation-manager",
      "name": "Rotation Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ],
      "notes": "Selects next service in the 5-tier rotation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "apify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "apify"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "brightdata",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "brightdata"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "sociavault",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sociavault"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "scrapeless",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scrapeless"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "scrapingbot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scrapingbot"
            }
          ]
        }
      },
      "id": "client-scraper-router",
      "name": "Route: Client Scraper",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ directUrls: [$json.client_url], resultsType: 'posts', resultsLimit: $json.posts_limit }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "client-apify",
      "name": "Apify: Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.brightdata.com/dca/trigger",
        "options": {}
      },
      "id": "client-brightdata",
      "name": "BrightData: Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.sociavault.com/instagram/user",
        "options": {}
      },
      "id": "client-sociavault",
      "name": "SociaVault: Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.scrapeless.com/task",
        "options": {}
      },
      "id": "client-scrapeless",
      "name": "Scrapeless: Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.scraping-bot.io/scrape",
        "options": {}
      },
      "id": "client-scrapingbot",
      "name": "ScrapingBot: Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      },
      "id": "client-merge",
      "name": "Merge: Client Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "apify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "apify"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "brightdata",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "brightdata"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "sociavault",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sociavault"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "scrapeless",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scrapeless"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentService }}",
                    "rightValue": "scrapingbot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scrapingbot"
            }
          ]
        }
      },
      "id": "competitor-scraper-router",
      "name": "Route: Competitor Scraper",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1000,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ directUrls: $('Setup Competitors').first().json.competitorUrls, resultsType: 'posts', resultsLimit: 12 }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "competitor-apify",
      "name": "Apify: Competitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.brightdata.com/dca/trigger",
        "options": {}
      },
      "id": "competitor-brightdata",
      "name": "BrightData: Competitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.sociavault.com/instagram/user",
        "options": {}
      },
      "id": "competitor-sociavault",
      "name": "SociaVault: Competitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        800
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.scrapeless.com/task",
        "options": {}
      },
      "id": "competitor-scrapeless",
      "name": "Scrapeless: Competitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        900
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.scraping-bot.io/scrape",
        "options": {}
      },
      "id": "competitor-scrapingbot",
      "name": "ScrapingBot: Competitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1000
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      },
      "id": "competitor-merge",
      "name": "Merge: Competitor Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1400,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Client Data\nreturn $input.all();"
      },
      "id": "process-client",
      "name": "Process Client Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Competitor Data\nreturn $input.all();"
      },
      "id": "process-competitors",
      "name": "Process Competitor Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        700
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "merge-scraped-data",
      "name": "Merge Scraped Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1800,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// IMMEDIATE SAVE\nconst data = $input.first().json;\nreturn [{ json: { ...data, saved: true, savedAt: new Date().toISOString() } }];"
      },
      "id": "save-cache",
      "name": "Save to Cache (Immediate)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "content": "## \ud83e\udde0 Phase 2: AI Analysis\n"
      },
      "id": "note-analysis",
      "name": "Phase 2 Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"Analyze Client Brand...\" }]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "openai-client-analysis",
      "name": "OpenAI: Client Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"Analyze Competitors...\" }]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "openai-competitor-analysis",
      "name": "OpenAI: Competitor Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "parse-client-analysis",
      "name": "Parse Client Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "parse-competitor-analysis",
      "name": "Parse Competitor Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "merge-analyses",
      "name": "Merge Analyses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"Create Production Briefs...\" }]\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "openai-production-briefs",
      "name": "OpenAI: Production Briefs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "parse-briefs",
      "name": "Parse Production Briefs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"Create Content Calendar...\" }]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "openai-calendar",
      "name": "OpenAI: Content Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "finalize-output",
      "name": "Finalize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        400
      ]
    }
  ],
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Input Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Configuration": {
      "main": [
        [
          {
            "node": "Setup Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Competitors": {
      "main": [
        [
          {
            "node": "Rotation Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotation Manager": {
      "main": [
        [
          {
            "node": "Route: Client Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route: Competitor Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Client Scraper": {
      "main": [
        [
          {
            "node": "Apify: Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BrightData: Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SociaVault: Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrapeless: Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ScrapingBot: Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: Client": {
      "main": [
        [
          {
            "node": "Merge: Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BrightData: Client": {
      "main": [
        [
          {
            "node": "Merge: Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SociaVault: Client": {
      "main": [
        [
          {
            "node": "Merge: Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrapeless: Client": {
      "main": [
        [
          {
            "node": "Merge: Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapingBot: Client": {
      "main": [
        [
          {
            "node": "Merge: Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Client Data": {
      "main": [
        [
          {
            "node": "Process Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Competitor Scraper": {
      "main": [
        [
          {
            "node": "Apify: Competitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BrightData: Competitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SociaVault: Competitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrapeless: Competitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ScrapingBot: Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: Competitor": {
      "main": [
        [
          {
            "node": "Merge: Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BrightData: Competitor": {
      "main": [
        [
          {
            "node": "Merge: Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SociaVault: Competitor": {
      "main": [
        [
          {
            "node": "Merge: Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrapeless: Competitor": {
      "main": [
        [
          {
            "node": "Merge: Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapingBot: Competitor": {
      "main": [
        [
          {
            "node": "Merge: Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Competitor Data": {
      "main": [
        [
          {
            "node": "Process Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Client Data": {
      "main": [
        [
          {
            "node": "Merge Scraped Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Competitor Data": {
      "main": [
        [
          {
            "node": "Merge Scraped Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Scraped Data": {
      "main": [
        [
          {
            "node": "Save to Cache (Immediate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Cache (Immediate)": {
      "main": [
        [
          {
            "node": "OpenAI: Client Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI: Competitor Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Client Analysis": {
      "main": [
        [
          {
            "node": "Parse Client Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Competitor Analysis": {
      "main": [
        [
          {
            "node": "Parse Competitor Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Client Analysis": {
      "main": [
        [
          {
            "node": "Merge Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Competitor Analysis": {
      "main": [
        [
          {
            "node": "Merge Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Analyses": {
      "main": [
        [
          {
            "node": "OpenAI: Production Briefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Production Briefs": {
      "main": [
        [
          {
            "node": "Parse Production Briefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Production Briefs": {
      "main": [
        [
          {
            "node": "OpenAI: Content Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Content Calendar": {
      "main": [
        [
          {
            "node": "Finalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}